@import '~antd/dist/antd.less';

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.login-title {
  color: white;
}

.login_layout {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./../../utils/img/home_back.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}

.login-form {
  max-width: 500px;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(60, 60, 60, 0.5);
  box-shadow: 15px 10px 10px rgba(60, 60, 60, 0.8);
}

.login-item-username {
  width: 50%;
}

.login-item-password {
  width: 50%;
}

.login-item-function {
  width: 50%;
}

.login-item-function-button div div button {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-item-button {
  min-width: 150px;
}

.login-form-forgot {
  float: right;
}
